html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 


/*YOOOO*/
.container{
    /* height: 100vh;
    width: 100vw; */
    display: grid;
    grid-template-rows: 15% repeat(2, 35%) 15%;
    grid-template-columns: 15% repeat(2, 30%) 35%;
    grid-gap: 10px;
    grid-template-areas:
    "h . n ."
    "h . n ."
    "h . n ."
    "h . n ."
}

.imagenfondo img{
  height: 100vh;
  width: 100vw;
}

    /* INICIO --------propiedades menu-------- */

    header {
      display: grid;
      grid-area: h;
    }

    main{
      display: grid;
      grid-area: n;
    }
    .menu {
      color: rgba(0, 0, 0, 0.8);
      display: grid;
      cursor: pointer;
      pointer-events: none;
      position: fixed;
      justify-content: space-around;
      text-decoration: none;
      bottom: 20px;
      left: 30px;
      top: 20px;
      z-index: 1;
    }

    .menu .item{
        top: 3rem;
        left: 20%;
    }

    .menu .item span a{
        text-decoration: none;
        color: black;
        font-family: 'DM Serif Text', serif;
        

    }
    
    .menu:hover {
        pointer-events: all;
      }
    
      .label {
        position: relative;
        display: grid;
        cursor: pointer;
        pointer-events: all;

      }
    
      .spacer {
        display: block;
        height: 5rem;
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
        position: fixed;
      }
    
      .spacer:before {
        position: absolute;
        border-bottom: 1px solid #ffffff;
        height: 1px;
        width: 0%;
        transition: width 0.25s ease;
        transition-delay: 0.7s;
      }
    
      .item {
        position: relative;
        display: block;
        opacity: 0;
        transition: opacity 0.5s ease, top 0.5s ease;
        transition-delay: 0;
      }
      span {
        transition: color 0.5s ease;
      }
      .item:hover span a{
        color: #ff0000;
      }
      .menu:hover .spacer:before {
        height: 100%;
        transition-delay: 0s;
      }
      .menu:hover .item {
        opacity: 1;
        top: 3rem; 
        left: 20%;
      }

      /* FIN --------propiedades menu-------- */

      .info {
        padding: 5rem 0 0 0;
      }
      h2{
        font-size: 500%;
        font-family: 'DM Serif Text', serif;
        
      }

      p {
        padding: 30px;
        text-align: justify;
        font-family: 'Open Sans', serif;
        font-weight: ligth 300;
      }

      /* INICIO -----------circulos------- */
      .circle > * {
        
        position: absolute;
        top: 30%;
        left: 20%;
        border-radius: 50%;
        transform: scale(0);
        animation: pulse 3s infinite ease-out;
     }
      .circle-1 {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        background-color: #f00;
     }
      .circle-2 {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: -8px;
        background-color: #e80000;
        animation-delay: 0.333s;
     }
      .circle-3 {
        width: 12px;
        height: 12px;
        margin-top: -6px;
        margin-left: -6px;
        background-color: #ce0000;
        animation-delay: 0.667s;
     }
      .circle-4 {
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
        animation-delay: 1s;
        background-color: #b70000;
     }
      @keyframes pulse {
        0% {
          transform: scale(0) rotate(0);
          opacity: 1;
       }
        100% {
          transform: scale(2) rotate(360deg);
          opacity: 0;
       }
     }
     /* FIN -----------circulos------- */
     /* INICIO -----------PRoyectos------- */
     
     

     /* FIN -----------proyectos------- */

